header {
  margin-bottom: 2.5rem;

  .header__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .logo {
      max-width: 10.125rem;
    }

    button {
      cursor: pointer;
      background: transparent;
    }

    nav {
      z-index: 9999;
      position: absolute;
      top: 5.625rem;
      left: 0;
      right: 0;
      bottom: 0;

      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 2rem;

      padding-top: 2.5rem;

      background: linear-gradient(
        180deg,
        rgba(254, 252, 247, 1) 0%,
        rgba(254, 252, 247, 1) 55%,
        rgba(254, 252, 247, 0) 100%
      );

      a {
        text-decoration: none;
        text-transform: capitalize;
        font-family: "Fraunces", serif;
        font-style: normal;
        font-weight: 900;
        font-size: 1.5rem;
        line-height: 2rem;

        color: $dark-grey-blue;

        &:hover {
          color: $dark-grey-blue;
        }
      }
    }
  }
}

@media screen and (min-width: 48rem) {
  header {
    margin-bottom: 3.25rem;

    .header__wrapper {
      .logo {
        max-width: 100%;
      }

      nav {
        z-index: 0;
        position: initial;
        flex-direction: row;
        padding-top: 0;
        background: transparent;

        a {
          font-family: inherit;
          font-weight: bold;
          font-size: 0.75rem;
          line-height: 0.9375rem;
          letter-spacing: 0.92px;
          text-transform: uppercase;

          color: $grey;
        }
      }
    }
  }
}

@media screen and (min-width: 90rem) {
  header {
    margin-bottom: 2.75rem;
  }
}
