:root {
  font-size: 18px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Kumbh Sans", sans-serif;
}

section {
  height: 100vh;
  width: 100vw;
  background: hsl(185, 75%, 39%);
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  overflow: hidden;
}

.card {
  width: 330px;
  border-radius: 20px;
  background: #fff;
  text-align: center;
  position: relative;
  z-index: 2;
  box-shadow: 0 1px 10px 1px hsl(227, 10%, 46%);
}

.card-header {
  height: 140px;
  background-image: url(images/bg-pattern-card.svg);
  border-radius: 20px 20px 0 0;
}

.image-holder {
  width: 115px;
  height: 115px;
  border-radius: 50%;
  border: 5px solid #fff;
  overflow: hidden;
  margin: -60px auto 30px auto;
}

.image-holder img {
  width: 100%;
  height: auto;
  display: block;
}

.card-body {
  padding: 0 20px 25px;
}

.name-age {
  font-size: 1rem;
  margin-bottom: 10px;
}

.age {
  margin-left: 5px;
}

.location {
  font-size: 0.8rem;
}

.age,
.location,
.category {
  font-weight: 400;
  color: hsl(0, 0%, 59%);
}

.card-footer {
  border-top: 1px solid hsl(0, 0%, 90%);
  display: flex;
  padding: 0 25px;
}

.card-footer .item {
  flex: 1;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card-footer .item .value {
  font-size: 1rem;
  margin-bottom: 6px;
}

.card-footer .item .category {
  font-size: 0.65rem;
  letter-spacing: 1.5px;
}

.circles .circle-top,
.circle-bottom {
  position: absolute;
  z-index: 1;
}

.circles .circle-top {
  bottom: 40%;
  right: 53%;
}

.circles .circle-bottom {
  top: 53%;
  left: 50%;
}
