// Variables
// Colors

$cyan: hsl(177, 68%, 64%);
$orange: hsl(12, 94%, 65%);
$yellow: hsl(33, 100%, 70%);
$white: hsl(20, 33%, 98%);
$black: hsl(244, 23%, 12%);

// Global reset
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

@import "mobile-style";
@import "tablet-style";
@import "desktop-style";
