* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

body {
  font-family: "IBM Plex Sans", sans-serif;
  background-color: hsl(20, 33%, 98%);
  position: relative;
}
body::before {
  content: "";
  position: absolute;
  top: -6.5rem;
  right: -4rem;
  height: 30rem;
  width: 17.5rem;
  background-image: url(../assets/bg-main-mobile.png);
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
}
body main {
  position: relative;
}
body main .logo {
  padding: 2.5rem 0 4rem 1.5rem;
}
body main .hero .hero__text {
  margin: 0 1.5rem 10.375rem;
}
body main .hero .hero__text h1 {
  font-style: normal;
  font-weight: bold;
  font-size: 2.5rem;
  line-height: 3rem;
  letter-spacing: -0.454544px;
  color: hsl(244, 23%, 12%);
  margin-bottom: 1.25rem;
}
body main .hero .hero__text p {
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.625rem;
  color: hsl(244, 23%, 12%);
}
body main .eqHero .eqHero__illustration {
  display: flex;
  justify-content: center;
  border-radius: 0.75rem;
  background-color: hsl(244, 23%, 12%);
  background-image: url(../assets/bg-pattern-2.svg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 17.5rem;
  padding: 0 5rem;
  position: relative;
  height: 37.5rem;
  margin-bottom: -13.75rem;
}
body main .eqHero .eqHero__illustration img {
  position: absolute;
  max-width: 56%;
  max-height: 26.875rem;
  top: -6.125rem;
}
body main .eqHero .eqHero__text {
  position: relative;
  border-radius: 0.75rem;
  background-color: hsl(12, 94%, 65%);
  color: hsl(20, 33%, 98%);
  padding: 3rem 2.25rem;
}
body main .eqHero .eqHero__text h2 {
  font-style: normal;
  font-weight: bold;
  font-size: 2rem;
  line-height: 2.5rem;
  margin-bottom: 0.75rem;
}
body main .eqHero .eqHero__text p {
  font-style: normal;
  font-weight: normal;
  font-size: 1.125rem;
  line-height: 1.75rem;
  margin-bottom: 2.25rem;
}
body main .eqHero .eqHero__text .price {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-style: normal;
  font-weight: bold;
  font-size: 4.0625rem;
  line-height: 3.25rem;
  margin-bottom: 2rem;
}
body main .eqHero .eqHero__text .price span {
  font-style: normal;
  font-weight: normal;
  font-size: 1.25rem;
  line-height: 2rem;
  letter-spacing: -0.2px;
}
body main .eqHero .eqHero__text .buttons .buttons__ios,
body main .eqHero .eqHero__text .buttons .buttons__android {
  border-radius: 0.75rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  padding: 1rem 0;
  font-style: normal;
  font-weight: bold;
  font-size: 1.125rem;
  line-height: 2rem;
  letter-spacing: -0.18px;
  cursor: pointer;
  transition: background-color 0.25s ease-in-out;
}
body main .eqHero .eqHero__text .buttons .buttons__ios {
  background-color: hsl(244, 23%, 12%);
  margin-bottom: 1rem;
}
body main .eqHero .eqHero__text .buttons .buttons__ios:hover {
  background-color: hsl(177, 68%, 64%);
}
body main .eqHero .eqHero__text .buttons .buttons__android {
  background-color: hsl(20, 33%, 98%);
  color: hsl(244, 23%, 12%);
}
body main .eqHero .eqHero__text .buttons .buttons__android:hover {
  background-color: hsl(33, 100%, 70%);
}
body main footer .footer__wrapper {
  padding: 4rem 1.5rem 5rem;
}
body main footer .footer__wrapper p {
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.625rem;
}
body main footer .footer__wrapper p span {
  font-weight: bold;
}
body main footer .footer__wrapper .logo--footer {
  padding: 0 0 2rem 0;
}
body main footer .footer__wrapper .footer__socials {
  margin-top: 4rem;
  display: flex;
  align-items: center;
  gap: 1.25rem;
}
body main footer .footer__wrapper .footer__socials img:hover {
  cursor: pointer;
  filter: invert(69%) sepia(39%) saturate(7188%) hue-rotate(330deg) brightness(110%) contrast(96%);
}

@media screen and (min-width: 768px) {
  body {
    overflow-x: hidden;
  }
  body::before {
    width: 61.4375rem;
    height: 50.5rem;
    right: 2.5rem;
    top: -7rem;
    background-image: url(../assets/bg-main-tablet.png);
    background-size: contain;
  }
  body::after {
    content: "";
    position: absolute;
    width: 16.666875rem;
    height: 25rem;
    right: -2.25rem;
    top: -2rem;
    background-image: url(../assets/bg-pattern-1.svg);
    background-size: contain;
  }
  body main {
    z-index: 1000;
  }
  body main .logo {
    padding: 3.875rem 0 6rem 2.5rem;
  }
  body main .hero .hero__text {
    width: 32.5rem;
    margin: 0 2.5rem 7rem;
  }
  body main .hero .hero__text h1 {
    font-size: 4rem;
    line-height: 4rem;
    letter-spacing: -0.045455rem;
    margin-bottom: 1.75rem;
  }
  body main .hero .hero__text p {
    font-size: 1.125rem;
    line-height: 1.75rem;
  }
  body main .eqHero {
    position: relative;
    height: 52.125rem;
    margin-inline: 2.5rem;
  }
  body main .eqHero .eqHero__illustration {
    display: block;
    padding: 0;
    position: absolute;
    top: 8.625rem;
    width: 100%;
    height: 37.5rem;
    margin-bottom: 0;
  }
  body main .eqHero .eqHero__illustration img {
    max-height: 34.75rem;
    top: -8.625rem;
    left: 4rem;
  }
  body main .eqHero .eqHero__text {
    position: absolute;
    padding: 3rem;
    width: 25rem;
    bottom: 0;
    right: 4rem;
  }
  body main footer {
    position: relative;
  }
  body main footer .footer__wrapper {
    padding: 5.375rem 2.5rem 5.5rem;
  }
  body main footer .footer__wrapper p {
    width: 22.875rem;
  }
  body main footer .footer__wrapper .footer__socials {
    position: absolute;
    bottom: 7.125rem;
    right: 2.5rem;
    margin: 0;
  }
}
@media screen and (min-width: 1440px) {
  body::before {
    width: 100.8125rem;
    height: 109.875rem;
    left: -9.125rem;
    top: -7rem;
    background-image: url(../assets/bg-main-desktop.png);
  }
  body::after {
    width: 19.5rem;
    height: 29.25rem;
    right: 0;
    top: -2.5rem;
    background-image: url(../assets/bg-pattern-1.svg);
  }
  body main .logo {
    padding: 4rem 0 8rem 10.25rem;
  }
  body main .hero .hero__text {
    width: 53.5rem;
    margin: 0 10.25rem 6.75rem;
  }
  body main .hero .hero__text h1 {
    font-size: 5.5rem;
    line-height: 5.5rem;
    letter-spacing: -0.0625rem;
    margin-bottom: 2.5rem;
  }
  body main .hero .hero__text p {
    font-size: 1.25rem;
    line-height: 2.125rem;
  }
  body main .eqHero {
    height: 58.125rem;
    margin-inline: 10.25rem;
    margin-bottom: 5.5rem;
  }
  body main .eqHero .eqHero__illustration {
    top: 13.25rem;
  }
  body main .eqHero .eqHero__illustration img {
    max-height: 40.125rem;
    top: -13.25rem;
    left: 6.0625rem;
  }
  body main .eqHero .eqHero__text {
    width: 27.875rem;
    bottom: 0;
    right: 6.0625rem;
    padding: 3.625rem 3.375rem 3rem;
  }
  body main .eqHero .eqHero__text h2 {
    font-size: 2.5rem;
    line-height: 3.25rem;
    margin-bottom: 1.375rem;
  }
  body main .eqHero .eqHero__text p {
    font-size: 1.25rem;
    line-height: 2.125rem;
    width: 20.8125rem;
    margin-bottom: 2.5rem;
  }
  body main .eqHero .eqHero__text .price {
    margin-bottom: 2.875rem;
  }
  body main footer .footer__wrapper {
    padding: 5.375rem 10.25rem 5.5rem;
  }
  body main footer .footer__wrapper p {
    position: absolute;
    left: 28.125rem;
    bottom: 6rem;
  }
  body main footer .footer__wrapper .logo--footer {
    padding: 0;
    position: absolute;
    left: 10.25rem;
    bottom: 8.625rem;
  }
  body main footer .footer__wrapper .footer__socials {
    bottom: 7.5rem;
    right: 10.25rem;
  }
}/*# sourceMappingURL=style.css.map */