@media screen and (min-width: 768px) {
  body {
    main {
      .logo {
        margin-top: 3rem;
        margin-bottom: 4rem;
      }

      .hero {
        .tablet__hero {
          display: flex;
          justify-content: center;
          margin-bottom: 4.5rem;
          overflow: hidden;

          & img {
            max-width: 110%;
          }
        }

        .mobile__hero {
          display: none;
        }

        .hero__text {
          text-align: center;
          padding-inline: 9.75rem;

          h1 {
            font-size: 3rem;
            line-height: 3rem;
            margin: 0 0 1.5rem;
          }

          p {
            margin: 0 0 2rem;
          }
        }

        .hero__buttons {
          flex-direction: row;
          align-items: center;
          justify-content: center;
          gap: 1rem;

          .hero__download,
          .hero__info {
            margin-bottom: 0;
          }
        }
      }

      .transition {
        margin-top: 10.25rem;
        margin-bottom: 4.1875rem;
      }

      .grid {
        grid-template-columns: auto auto auto auto;
        grid-template-rows: auto;
        gap: 0.6875rem;
        margin: 0 2.5rem 3rem;
      }

      .body__text {
        margin: 0 6.125rem;

        span {
          margin-bottom: 1rem;
        }

        h2 {
          font-size: 2.5rem;
          line-height: 2.75rem;
          padding-inline: 4rem;
        }
      }

      .transition--bottom {
        margin-bottom: -29px;
      }

      footer {
        padding-inline: 0;

        &::before {
          background-image: url(../assets/tablet/image-footer.jpg);
        }

        .footer__wrapper {
          h2 {
            font-size: 2.5rem;
            line-height: 2.75rem;
            margin-bottom: 2rem;
            padding-inline: 9.75rem;
          }

          p {
            margin-bottom: 2.5rem;
            padding-inline: 6.125rem;
          }

          .footer__download {
            margin-bottom: 4.125rem;
          }
        }
      }
    }
  }
}
