* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

body {
  font-family: "Red Hat Display";
  background: hsl(0, 0%, 98%);
}

body main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
body main .logo {
  margin-top: 3rem;
  margin-bottom: 3.375rem;
}
body main .hero .tablet__hero {
  display: none;
}
body main .hero .mobile__hero {
  display: flex;
  flex-direction: row;
  justify-content: center;
  overflow: hidden;
  gap: 1rem;
  margin-bottom: 3rem;
}
body main .hero .mobile__hero img {
  max-width: 53.07%;
}
body main .hero .desktop__hero {
  display: none;
}
body main .hero .hero__text {
  text-align: center;
}
body main .hero .hero__text h1 {
  font-style: normal;
  font-weight: 900;
  font-size: 2.5rem;
  line-height: 2.75rem;
  margin: 0 1.5rem 1.5rem;
  color: hsl(240, 21%, 20%);
}
body main .hero .hero__text p {
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.625rem;
  color: hsl(240, 10%, 57%);
  margin: 0 1.5rem 2rem;
}
body main .hero .hero__buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
}
body main .hero .hero__buttons .hero__download,
body main .hero .hero__buttons .hero__info {
  border: none;
  font-weight: 600;
  font-size: 1rem;
  line-height: 1.625rem;
  color: hsl(0, 0%, 98%);
  border-radius: 1.8125rem;
  transition: background 0.25s ease-in;
  cursor: pointer;
}
body main .hero .hero__buttons .hero__download {
  background: hsl(192, 37%, 48%);
  margin-bottom: 1rem;
  padding: 1rem 2.5rem;
}
body main .hero .hero__buttons .hero__download span {
  color: hsl(192, 90%, 77%);
}
body main .hero .hero__buttons .hero__download:hover {
  background: #71c0d4;
}
body main .hero .hero__buttons .hero__info {
  background: hsl(268, 34%, 53%);
  padding: 1rem 1.8125rem;
  margin-bottom: 9.25rem;
}
body main .hero .hero__buttons .hero__info:hover {
  background: #b18bdd;
}
body main .transition {
  position: relative;
  font-style: normal;
  font-weight: 900;
  font-size: 1rem;
  line-height: 1.625rem;
  color: hsl(240, 10%, 57%);
  padding: 0.9375rem 1.25rem;
  border: 1px solid rgba(135, 135, 157, 0.25);
  border-radius: 50%;
  margin-bottom: 4rem;
  background: hsl(0, 0%, 98%);
}
body main .transition::before {
  content: "";
  height: 84px;
  width: 1px;
  position: absolute;
  top: -85px;
  right: 50%;
  background: rgba(135, 135, 157, 0.25);
}
body main .grid {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  gap: 1.5rem;
  margin: 0 1.5rem 4rem;
}
body main .grid img {
  border-radius: 0.5rem;
}
body main .body__text {
  margin: 0 1.5rem 9.25rem;
  text-align: center;
}
body main .body__text span {
  display: block;
  font-style: normal;
  font-weight: 900;
  font-size: 1rem;
  line-height: 1.625rem;
  letter-spacing: 0.25rem;
  text-transform: uppercase;
  color: hsl(192, 37%, 48%);
  margin-bottom: 1.5rem;
}
body main .body__text h2 {
  font-style: normal;
  font-weight: 900;
  font-size: 2rem;
  line-height: 2.25rem;
  color: hsl(240, 21%, 20%);
  margin-bottom: 2rem;
}
body main .body__text p {
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.625rem;
  color: hsl(240, 10%, 57%);
}
body main .transition--bottom {
  margin-bottom: -29px;
  z-index: 999;
}
body main footer {
  position: relative;
  width: 100%;
  background-color: hsl(192, 37%, 48%);
  text-align: center;
  color: hsl(0, 0%, 98%);
  padding-inline: 1.5rem;
}
body main footer::before {
  content: "";
  background-image: url(../assets/mobile/image-footer.jpg);
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  mix-blend-mode: normal;
  opacity: 0.1;
}
body main footer .footer__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
body main footer .footer__wrapper h2 {
  position: relative;
  margin: 5.75rem 0 1.5rem;
  font-style: normal;
  font-weight: 900;
  font-size: 2rem;
  line-height: 2.25rem;
}
body main footer .footer__wrapper p {
  position: relative;
  font-style: normal;
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 1.625rem;
  margin-bottom: 2rem;
}
body main footer .footer__wrapper .footer__download {
  position: relative;
  border: none;
  font-weight: 600;
  font-size: 1rem;
  line-height: 1.625rem;
  color: hsl(0, 0%, 98%);
  background: hsl(268, 34%, 53%);
  border-radius: 1.8125rem;
  padding: 1rem 2.5rem;
  margin-bottom: 4.5rem;
  transition: background 0.25s ease-in;
  cursor: pointer;
  width: 12rem;
}
body main footer .footer__wrapper .footer__download span {
  color: hsl(268, 100%, 86%);
}
body main footer .footer__wrapper .footer__download:hover {
  background: #b18bdd;
}

@media screen and (min-width: 768px) {
  body main .logo {
    margin-top: 3rem;
    margin-bottom: 4rem;
  }
  body main .hero .tablet__hero {
    display: flex;
    justify-content: center;
    margin-bottom: 4.5rem;
    overflow: hidden;
  }
  body main .hero .tablet__hero img {
    max-width: 110%;
  }
  body main .hero .mobile__hero {
    display: none;
  }
  body main .hero .hero__text {
    text-align: center;
    padding-inline: 9.75rem;
  }
  body main .hero .hero__text h1 {
    font-size: 3rem;
    line-height: 3rem;
    margin: 0 0 1.5rem;
  }
  body main .hero .hero__text p {
    margin: 0 0 2rem;
  }
  body main .hero .hero__buttons {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1rem;
  }
  body main .hero .hero__buttons .hero__download,
  body main .hero .hero__buttons .hero__info {
    margin-bottom: 0;
  }
  body main .transition {
    margin-top: 10.25rem;
    margin-bottom: 4.1875rem;
  }
  body main .grid {
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto;
    gap: 0.6875rem;
    margin: 0 2.5rem 3rem;
  }
  body main .body__text {
    margin: 0 6.125rem;
  }
  body main .body__text span {
    margin-bottom: 1rem;
  }
  body main .body__text h2 {
    font-size: 2.5rem;
    line-height: 2.75rem;
    padding-inline: 4rem;
  }
  body main .transition--bottom {
    margin-bottom: -29px;
  }
  body main footer {
    padding-inline: 0;
  }
  body main footer::before {
    background-image: url(../assets/tablet/image-footer.jpg);
  }
  body main footer .footer__wrapper h2 {
    font-size: 2.5rem;
    line-height: 2.75rem;
    margin-bottom: 2rem;
    padding-inline: 9.75rem;
  }
  body main footer .footer__wrapper p {
    margin-bottom: 2.5rem;
    padding-inline: 6.125rem;
  }
  body main footer .footer__wrapper .footer__download {
    margin-bottom: 4.125rem;
  }
}
@media screen and (min-width: 1440px) {
  body main .logo {
    margin-top: 5rem;
    margin-bottom: 3.75rem;
  }
  body main .hero {
    width: 100%;
  }
  body main .hero .tablet__hero {
    display: none;
  }
  body main .hero .mobile__hero {
    display: none;
  }
  body main .hero .desktop__hero {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    overflow: hidden;
    gap: 5.5rem;
    height: 22.375rem;
  }
  body main .hero .desktop__hero img:first-child {
    align-self: flex-start;
    margin-left: -2rem;
  }
  body main .hero .desktop__hero img:last-child {
    margin-right: -2rem;
  }
  body main .hero .desktop__hero .hero__text {
    display: block;
    padding-inline: 0;
    margin-bottom: 0.5rem;
    max-width: 33.75rem;
  }
  body main .hero .desktop__hero .hero__text h1 {
    font-size: 4rem;
    line-height: 4rem;
    margin-bottom: 2.125rem;
  }
  body main .hero .desktop__hero .hero__text p {
    font-size: 1.125rem;
    line-height: 1.625rem;
  }
  body main .hero .hero__text {
    display: none;
  }
  body main .transition {
    margin-top: 12.1875rem;
    margin-bottom: 4rem;
  }
  body main .grid {
    max-width: 69.375rem;
    gap: 1.875rem;
    margin: 0 10.3125rem 5rem;
  }
  body main .body__text {
    margin: 0;
    max-width: 33.75rem;
  }
  body main .body__text h2 {
    font-size: 2.5rem;
    line-height: 2.75rem;
    padding-inline: 3rem;
  }
  body main .body__text P {
    font-size: 1.125rem;
    line-height: 1.625rem;
  }
  body main .transition--bottom {
    margin-top: 9.75rem;
    margin-bottom: -29px;
  }
  body main footer {
    padding: 7.25rem 10.3125rem 6.5rem;
    text-align: left;
    display: flex;
    justify-content: center;
  }
  body main footer::before {
    background-image: url(../assets/desktop/image-footer.jpg);
    background-position: center top;
  }
  body main footer .footer__wrapper {
    flex-direction: row;
  }
  body main footer .footer__wrapper h2 {
    margin: 0;
    padding-inline: 0;
    max-width: 21.875rem;
  }
  body main footer .footer__wrapper p {
    margin-bottom: 0;
    padding-inline: 0;
    max-width: 21.875rem;
    margin-left: 7.8125rem;
    margin-right: 5.75rem;
  }
  body main footer .footer__wrapper .footer__download {
    margin-bottom: 0;
  }
}/*# sourceMappingURL=style.css.map */