:root {
  /* PRIMARY COLORS */

  /* Text */

  --very-dark-desaturated-blue: hsl(238, 29%, 16%);
  --soft-red: hsl(14, 88%, 65%);

  /* Background gradient: */

  --soft-violet: hsl(273, 75%, 66%);
  --soft-blue: hsl(240, 73%, 65%);

  /* NEUTRAL COLORS */

  /* Text */

  --very-dark-grayish-blue: hsl(237, 12%, 33%);
  --dark-grayish-blue: hsl(240, 6%, 50%);

  /* Dividers */

  --light-grayish-blue: hsl(240, 5%, 91%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Kumbh Sans", sans-serif;
  font-size: 16px;
  background: linear-gradient(var(--soft-violet), var(--soft-blue));
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.card {
  width: 920px;
  height: 520px;
  position: relative;
  background-color: white;
  border-radius: 2rem;
  display: flex;
  padding: 2rem 0;
  margin: 0 3rem;
  background-image: url(./images/bg-pattern-desktop.svg);
  background-repeat: no-repeat;
  background-position: -35.7rem -18.5rem;
}

.image,
.text {
  flex: 1;
}

.text {
  padding: 0 4rem;
}

.box {
  position: absolute;
  left: -5.8rem;
  bottom: 7.5rem;
  z-index: 1;
}

.image {
  display: flex;
  align-items: center;
  overflow: hidden;
  
}

.image img {
  transform: translateX(-5rem);
}

.question {
  margin-bottom: 1rem;
}

h1 {
  padding: 2rem 0;
}

p {
    display: none;
  margin-bottom: 1rem;
}

@media screen and (max-width: 1023) {
    .card {
        display: grid;
        grid-template-columns: 1fr;
    }
}
