// light mode styling

.light-mode {
  background-color: $light-gray;
  color: $dull-blue;

  // header styles
  header {
    .logo {
      color: #222731;
    }

    .theme {
      filter: brightness(0) saturate(100%) invert(39%) sepia(33%) saturate(731%)
        hue-rotate(177deg) brightness(93%) contrast(84%);

      &:hover {
        filter: brightness(0) saturate(100%) invert(11%) sepia(29%)
          saturate(551%) hue-rotate(181deg) brightness(92%) contrast(89%);
      }
    }
  }

  // searchbar styles
  .searchbar {
    input {
      background: $off-white;
      color: #222731;
      box-shadow: 0px 16px 30px -10px rgba(70, 96, 187, 0.198567);

      &::placeholder {
        color: $dull-blue;
      }
    }
  }

  // card styles
  .card {
    background: $off-white;
    box-shadow: 0px 16px 30px -10px rgba(70, 96, 187, 0.198567);

    .card-header {
      h1 {
        color: $dark-gray;
      }

      h2 {
        color: $gray;
      }
    }

    .card-stats {
      background-color: $light-gray;

      .repos,
      .followers,
      .following {
        span {
          color: $dark-gray;
        }
      }
    }
  }

  .card-footer {
    filter: brightness(0) saturate(100%) invert(39%) sepia(33%) saturate(731%)
      hue-rotate(177deg) brightness(93%) contrast(84%);
  }
}
