:root {
  /* Primary Colors */

  --blue: hsl(223, 87%, 63%);

  /* Secondary Colors */

  --pale-blue: hsl(223, 100%, 88%);
  --light-red: hsl(354, 100%, 66%);

  /* Neutral Colors */

  --gray: hsl(0, 0%, 59%);
  --very-dark-blue: hsl(209, 33%, 12%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

body {
  font-family: "Libre Franklin", sans-serif;
  font-size: 20px;
  padding: 0 3rem;
  text-align: center;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  min-height: 100vh;
  max-width: 1000px;
}

.logo {
  margin-top: 5rem;
  margin-bottom: 3rem;
}

h1 {
  font-size: 40px;
  color: var(--gray);
  font-weight: 300;
  margin-bottom: 1rem;
}

h1 span {
  color: var(--very-dark-blue);
  font-weight: 700;
}

p {
  margin-bottom: 2.5rem;
}

button {
  width: 100%;
  font-family: "Libre Franklin", sans-serif;
  font-weight: 600;
  font-size: 16px;
  border: none;
  background: transparent;
  background-color: var(--blue);
  color: white;
  padding: 1rem 4rem;
  border-radius: 2rem;
  margin-bottom: 5rem;
  cursor: pointer;
  box-shadow: 0 0.5rem 1rem var(--pale-blue);
  transition: opacity 0.25s ease-in-out;
}

button:hover {
  opacity: 0.75;
}

.form-control.error small {
  display: block;
  margin-top: -0.5rem;
  color: var(--light-red);
  font-weight: 600;
  font-size: 14px;
  font-style: italic;
  margin-bottom: 2rem;
}

.form-control small {
  display: none;
}

input {
  width: 100%;
  border: none;
  background: transparent;
  padding: 1.25rem 2rem;
  border: 1px solid var(--pale-blue);
  border-radius: 2rem;
  margin-bottom: 1rem;
  color: var(--very-dark-blue);
  font-family: "Libre Franklin", sans-serif;
  font-size: 16px;
}

input:focus {
  outline: none;
}

input::placeholder {
  color: var(--pale-blue);
  font-size: 16px;
}

.form-control.error input {
  border: 2px solid var(--light-red);
}

.hero {
  margin-bottom: 7.5rem;
}

.socials {
  margin-bottom: 3rem;
}

.icons {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  margin-bottom: 2rem;
}

.fab {
  color: var(--blue);
  padding: 1rem;
  border: 1px solid var(--pale-blue);
  border-radius: 50%;
}

.fab:hover {
  color: white;
  background-color: var(--blue);
  border-color: var(--blue);
}

.fab.fa-facebook-f {
  padding: 1rem 1.2rem;
}

.fab.fa-instagram {
  padding: 1rem 1.1rem;
}

.socials small {
  color: var(--gray);
}

@media screen and (min-width: 768px) {
  form {
    display: flex;
  }

  .form-control {
    flex: 5;
    width: 500px;
    padding-right: 1rem;
  }

  .form-control.error small {
    text-align: left;
    margin-left: 2rem;
  }

  button {
    padding: 1.25rem 4rem;
    flex: 1;
  }
}
