:root {
  /* Primary Colors */

  --desaturated-red: hsl(0, 36%, 70%);
  --soft-red: hsl(0, 93%, 68%);

  /* Neutral Colors */

  --dark-grayish-red: hsl(0, 6%, 24%);

  /* Gradient Colors */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(135deg, hsl(0, 0%, 100%), hsl(0, 100%, 98%));
  text-align: center;
  font-size: 16px;
  font-family: "Josefin Sans", sans-serif;
  color: var(--desaturated-red);
  min-height: 100vh;
  overflow: hidden;
}

.heading {
  text-transform: uppercase;
  font-size: 20px;
  letter-spacing: 1ch;
  margin: 0 2rem 1rem;
}

.heading h1 {
  font-weight: 300;
}

.dark-text {
  color: var(--dark-grayish-red);
  font-weight: 600;
}

p {
  margin: 0rem 2rem 1rem;
  font-weight: 400;
  line-height: 2.5ch;
  font-size: 14px;
}

.logo {
  text-align: left;
  margin: 2rem;
  max-width: 100%;
}

.hero-image {
  margin-bottom: 4rem;
}

.hero-image img {
  width: 100%;
}

form {
  position: relative;
  width: 80%;
  margin: 0 auto;
}

input {
  font-family: "Josefin Sans", sans-serif;
  outline: none;
  background: transparent;
  border: 1px solid var(--desaturated-red);
  border-radius: 3rem;
  padding: 1.15rem 2rem;
  font-weight: 400;
  font-size: 15px;
  width: 100%;
}

input::placeholder {
  color: var(--desaturated-red);
}

input:focus {
  color: var(--dark-grayish-red);
  font-weight: 600;
}

form.error input {
  border: 1px solid var(--soft-red);
}

button {
  background: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
  padding: 1rem 1.75rem;
  border: none;
  border-radius: 2rem;
  box-shadow: 0px 10px 30px 0px #ffc2c2;
  position: absolute;
  top: 0;
  right: 0;
}

button:hover {
  background: hsl(0, 80%, 86%);
  cursor: pointer;
}

form.error .error-icon {
  display: block;
}

.error-icon {
  display: none;
  position: absolute;
  top: 1rem;
  right: 5rem;
}

form.error small {
  display: block;
}

small {
  display: none;
  margin-top: 1rem;
  color: var(--soft-red);
}

.desktop-hero {
  display: none;
}

.desktop-logo {
  display: none;
}

@media screen and (min-width: 768px) {
  .mobile-hero {
    display: none;
  }

  .hero-image {
    display: inherit;
    flex: 1;
    margin-bottom: 0;
    background-image: url(./images/hero-desktop.jpg);
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  .content-wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: row-reverse;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }

  .text-wrapper {
    flex: 1.35;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(./images/bg-pattern-desktop.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
  }

  .text {
    position: relative;
    width: 500px;
  }

  .logo {
    display: none;
  }

  .desktop-logo {
    display: inherit;
    position: absolute;
    top: -10rem;
    left: 2rem;
  }

  h1 {
    font-size: 60px;
    margin-bottom: 2.5rem;
  }

  p {
    font-size: 16px;
    margin-bottom: 2.5rem;
  }

  button {
    padding: 1rem 3rem;
  }

  form {
    margin-left: 2rem;
  }

  .error-icon {
    position: absolute;
    top: 1rem;
    right: 7.5rem;
  }

  small {
    display: none;
    margin-top: 1rem;
    margin-left: 1.5rem;
    color: var(--soft-red);
  }
}
