// Font import
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&display=swap");

// Reset import
@import "_reset.scss";

// A few variables
$black: hsl(0, 0%, 0%);
$gray: hsl(0, 0%, 19%);
$white: hsl(0, 0%, 100%);

// Component imports
@import "_globals.scss";
@import "_quotes.scss";
@import "_clock.scss";
@import "_morebutton.scss";
@import "_moredetails.scss";
