// mobile styles

body {
  // transition: all 0.5s ease-in-out;

  main {
    max-width: 540px;
    margin: 0 auto;

    header {
      color: $white;
      margin-bottom: 2rem;
      display: flex;
      align-items: center;
      justify-content: space-between;

      h1 {
        font-style: normal;
        font-weight: bold;
        font-size: 2rem;
        line-height: 36px;
        letter-spacing: -0.533333px;
      }

      .theme-wrapper {
        display: flex;
        align-items: flex-end;
        text-transform: uppercase;
        gap: 1.25rem;
        font-style: normal;
        font-weight: bold;
        font-size: 0.75rem;
        line-height: 13px;
        letter-spacing: 1px;

        span {
          margin-bottom: 5px;
        }

        .toggle-wrapper {
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 0.5rem;

          .number-wrapper {
            display: flex;
            gap: 13.5px;

            :nth-child(1) {
              padding-left: 3px;
              padding-right: 1px;
            }

            :nth-child(2) {
              padding-left: 0.5px;
            }

            :nth-child(3) {
              padding-left: 1px;
            }
          }

          .toggle-button {
            width: 71px;
            height: 26px;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 7px;
            background-color: $dark-desaturated-blue;
            border-radius: 13px;

            input {
              cursor: pointer;
              appearance: none;
              border: 8px solid $dark-desaturated-blue;
              border-radius: 50%;

              &:checked {
                border: 8px solid $red;

                &:hover {
                  border: 8px solid #f96b5b;
                }
              }
            }
          }
        }
      }
    }

    .screen {
      background-color: $very-dark-desaturated-blue;
      border-radius: 10px;
      padding: 1.625rem 1.5rem;
      margin-bottom: 1.5rem;
      font-style: normal;
      font-weight: bold;
      font-size: 32px;
      line-height: 36px;
      text-align: right;
      letter-spacing: -0.533333px;
      color: $white;
    }

    .keypad {
      background-color: $dark-desaturated-blue;
      border-radius: 10px;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 0.8125rem;
      padding: 1.5rem;

      button {
        cursor: pointer;
      }

      .numBtn,
      .operatorBtn,
      .dotBtn {
        border: none;
        background-color: $light-grayish-orange;
        box-shadow: inset 0px -4px 0px $grayish-orange;
        border-radius: 5px;
        padding: 1rem 0;
        font-family: "Spartan", sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 28px;
        line-height: 31px;
        letter-spacing: -0.466667px;
        color: $very-dark-grayish-blue;
        transition: background-color 0.25s ease-in-out;

        &:hover {
          background-color: #fffffe;
        }

        &:active {
          transform: scaleY(0.9375);
          transform-origin: bottom;
          box-shadow: none;
        }
      }

      .delBtn,
      .resetBtn,
      .equalsBtn {
        text-transform: uppercase;
        border: none;
        background-color: $desaturated-dark-blue;
        box-shadow: inset 0px -4px 0px $desaturated-very-dark-blue;
        border-radius: 5px;
        font-family: "Spartan", sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 18px;
        letter-spacing: -0.266667px;
        color: $white;
        transition: background-color 0.25s ease-in-out;

        &:hover {
          background-color: #a2b2e1;
        }

        &:active {
          transform: scaleY(0.9375);
          transform-origin: bottom;
          box-shadow: none;
        }
      }

      .resetBtn {
        grid-column: 1 / 3;
        padding: 1.407rem 0;
      }

      .equalsBtn {
        grid-column: 3 / 5;
        background-color: $red;
        box-shadow: inset 0px -4px 0px $dark-red;

        &:hover {
          background-color: #f96b5b;
        }
      }
    }
  }
}
